
<h2>Small daily actions add up.</h2>
<p>Welcome, <%= current_user.username %>, here's what you've been doing: <//p>

<ol>
	<% @things.each do |thing| %>
	
		<li><a href='/things/<%= thing.id %>'> <%= thing.date %> <%= thing.title %> -- <%= thing.description %></a>
		
		</li>
		<br>
	<% end %>
</ol>


<h3><a href="/things/new">Add something new</a></h3>
<h3><a href="/sessions/logout">Logout</a></h3>
